<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find cleaner_robot)/maps/big_house2.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find cleaner_robot)/launch/amcl_global.launch"/>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

<!-- Automatic map aligner. Spins the robot for a set time. Quite messy implementation, would be better to create a node-->
    <arg name="alignment_time" default="20.0" />  
    <node pkg="rostopic" type="rostopic" name="map_aligner" args="pub -r 10 /cmd_vel geometry_msgs/Twist  '{linear:  {x: 0.0, y: 0.0, z: 0.0}, angular: {x: 0.0,y: 0.0,z: 2.0}}'" launch-prefix="timeout -s SIGINT 3 "/>
    <node pkg="rostopic" type="rostopic" name="map_aligner_stopper" args="pub -1 /move_base_simple/goal geometry_msgs/PoseStamped '{header:[0,now,'\''map'\''],pose:[[0.0,0.0,0.0],[0.0,0.0,0.0,1.0]]}' " launch-prefix="bash -c 'sleep $(arg alignment_time); $0 $@' "/>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>
